<form actions='/' method='POST'>
  <p>Metin:</p>
  <input type='text' name='string'><br/>
  <p>Ne Kadar Kaydırmak İstiyorsunuz?</p>
  <input type='text' name='n'><br/>
  <input type='submit' >
</form>
<% if result %>
  <p>Sonuç:</p>
  <%= result %>
<% end %>